.recent-notes,
.embed-recent-notes {
  & > h3 {
    margin: 0.5rem 0 0 0;
    font-size: 1rem;
  }

  & > ul.recent-ul {
    list-style: none;
    margin-top: 0.75rem;
    padding-left: 0;

    & > li {
      margin: 0.5rem 0;

      .recent-row {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        width: 100%;

        .title-link {
          background-color: transparent;
          font-weight: 600;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .tag-link {
          font-size: 0.75rem;
          padding: 0.1rem 0.35rem;
          margin-left: 0.3rem;
          white-space: nowrap;
        }

        .date {
          margin-left: auto;
          padding-left: 10px;
          font-size: 0.8rem;
          color: var(--gray);
          white-space: nowrap;
        }
      }
    }
  }
}
